<!DOCTYPE html>

<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeneBlend</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css\home_style.css' %}">
</head>
<body>


    <header class="top-bar">
    <div class="logo-group">
        <div class="title">
            <h1>GeneBlend</h1>
        </div>
        <div class="parag">
            <p>created by APPS.UCU</p>
        </div>
    </div>

    <div class="nav-group">
        <a href="#" class="button1">Освітня сторінка</a>
        <a href="#" class="button2">Калькулятор спадковості</a>
    </div>
</header>
<div class="photo-box">ДНК</div>

    <div class="info-row">
        <div class="info-card1">
            <div class="dyk-title">
                <h3>Did<br>you<br>know?</h3>
        </div>
        <div class="dyk-text">
            <p>Якби ти зміг розгорнути всі ланцюжки ДНК лише з однієї своєї клітини в одну лінію, її довжина склала б приблизно 2 метри.</p>
        </div>
            </div>

        <div class="info-card2">
            <h3>Додаткова інформація</h3>
        <p>Локація: Центр Шептицького, УКУ, Львів.</p>
        <p>Соціальні мережі:</p>
        <p>Email:</p>
        </div>


        <div class="info-card3">
            <p>Залиште відгук</p>
        </div>

    </div>

</body>
</html>
