* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #F0F3FF;
    font-family: 'Montserrat Alternates', sans-serif;
}

.top-bar {
    width: 100%;
    min-height: 120px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
}

.logo-group {
    display: flex;
    flex-direction: column;
}

.title {
    padding-top: -5px;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    line-height: 1.2;
}

.parag {

    font-weight: 275;
    font-size: 20px;
    color: #000000;
    margin-top: 5px;
    padding-top: -20px;
    padding-left: 20px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 275;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}

.nav-group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.button1, .button2 {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 15px 30px;
    min-width: 200px;

    background-color: #97c2ee;
    color: white;
    border-radius: 50px;

    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;

}

.button1:hover, .button2:hover {
    background-color: #2474a2;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    max-width: 1400px;
    margin: 50px auto;
    padding: 0 20px;
}

.photo-box {
    width: 325px;
    height: 457px;
    margin: 50px auto 50px;
    background: #D9D9D9;
    /* border-radius: 20px; */
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container, .right-container {

    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 45%;

}


.box1, .box2, .box3, .box4 {

    padding: 20px;
    background: #FFFDFD;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;

}
